.background-img {
    background-image:url(../img/background-img.png);
    background-repeat: repeat;
    background-size: 150px;
}

.bg-color {
    background-color: white;

}

@media screen and (max-width:400px){
    .mediaQuary{
        width:100%;
    }
}

